* {
 padding: 0;
 margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "B612", sans-serif;
}
.title {
  text-align: center;
  background-color: rgb(39, 36, 36);
  overflow: hidden;
  color: #fff;
}
.head a {
  text-decoration: none;
  color: #fff;
}
.navigation {
  background-color: rgb(165, 24, 24);
}
.menu {
  width: 42%;
  margin: 0 auto;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -55px!important;
}
.canvas {
  height: 85vh;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.canvas img {
  width: 100%;
  filter: blur(8px);
}
.title1 {
  position: absolute;
  top: 18%;
  right: 17%;
  width: 64%;
}
.apointment {
  position: absolute;
  top: 65%;
  right: 43%;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}
.apointment a {
  text-decoration: none;
  color: #fff;
}
/* About Area */
.about {
  overflow: hidden;
  padding: 20px;
  width: 80%;
  margin: 2% auto;
  box-shadow: 5px 5px 30px black;
}
.about .left-area {
  width: 42%;
  float: left;
  padding: 2%;
  text-align: justify;
}
.about .left-area .button {
  background-color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.about .left-area .button a {
  text-decoration: none;
  color: #fff;
}
.about .right-area {
  width: 42%;
  float: right;
  padding: 2%;
}
.about .right-area img {
  width: 100%;
  height: auto;
}
.service {
  overflow: hidden;
}
.container {
  width: 80%;
  margin: 50px auto;
  clear: both;
}
.col33 {
  width: 31.33%;
  padding: 0 30px 30px;
  margin: 1%;
  margin-bottom: 50px;
  float: left;
  text-align: justify;
}
.col16 {
  width: 16.66%;
  padding: 0 30px 30px;
  margin-bottom: 35px;
  float: left;
  text-align: justify;
}
.col30 {
  width: 30%;
  padding: 0 30px 30px;
  margin-left: 208px;
  margin-bottom: 35px;
  float: left;
  text-align: justify;
}
.grid1 {
  display: inline-block;
  box-shadow: 5px 5px 30px black;
}
.grid1 h2 {
  text-align: center;
}
.grid2 {
  display: inline-block;
  box-shadow: 5px 5px 30px black;
}
.grid2 h2 {
  text-align: center;
}
.grid3 {
  display: inline-block;
  box-shadow: 5px 5px 30px black;
}
.grid3 h2 {
  text-align: center;
}
.service-title h1 {
  text-align: center;
}
.service-button {
  background-color: black;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
.service-button a {
  text-decoration: none;
  color: #fff;
}
.emergency {
  background: url(images/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.emergency .inner-content {
  padding: 50px;
  text-align: center;
}
.error {
  color: #884b4b;
  border: 1px solid #884b4b;
  border-radius: 5px;
  background: #f5bcbc;
}

/* ===== CONTACT =====*/
form.contact__form {
  width: fit-content;
  text-align: center;
  margin-left: 38%;
}
